<div class="page-wrapper">
  <div class="content">
    <!-- Page Header -->
    <div class="page-header">
      <div class="row">
        <div class="col-sm-12">
            <ul class="breadcrumb mb-0">
              <li class="breadcrumb-item"><a href="#">Pacientes</a></li>
              <li class="breadcrumb-item"><i class="feather icon-chevron-right"></i></li>
              <li class="breadcrumb-item active">Añadir paciente</li>
            </ul>
        </div>
      </div>
    </div>
    <!-- /Page Header -->

    <div class="row">
      <div class="col-sm-12">
        <app-appointment-form
          (createAppointment)="onAppointmentSave($event)"
          (showError)="onAppointmentError($event)">
        </app-appointment-form>
      </div>
    </div>
  </div>
</div>

<app-notification
  [show]="showNotification"
  [message]="notificationMessage"
  [type]="notificationType"
  [duration]="3000"
  (close)="onNotificationClose()">
</app-notification>

<app-confirmation-modal
  [show]="showConfirmModal"
  [message]="modalMessage"
  acceptText="Sí, Imprimir"
  cancelText="No"
  (accept)="onModalAccept()"
  (cancel)="onModalCancel()">
</app-confirmation-modal>

<app-loading-overlay [isBlock]="isLoading"></app-loading-overlay>

<div #qrCodeContainer style="display: none">
  <qrcode [qrdata]="'https://dar.reformaperu.org/'" [width]="100" [errorCorrectionLevel]="'M'"></qrcode>
</div>
