<div class="page-wrapper">
  <div class="content">
    <!-- Header -->
    <div class="page-header">
      <div class="row">
        <div class="col-sm-12">
          <ul class="breadcrumb">
            <li class="breadcrumb-item"><span>Pacientes</span></li>
            <li class="breadcrumb-item"><i class="feather icon-chevron-right"></i></li>
            <li class="breadcrumb-item active">{{ showPatientForm ? 'Añadir paciente' : 'Añadir ubicación' }}</li>
          </ul>
        </div>
      </div>
    </div>
    <!-- /Header -->

    <div class="row">
      <div class="col-sm-12">

        <ng-container *ngIf="showPatientForm">
          <app-patient-form
            (sendPatientData)="createNewPatient($event)">
          </app-patient-form>
        </ng-container>


        <ng-container *ngIf="!showPatientForm">
          <app-geographic-location-form
            (saveLocationData)="createLocation($event)">
          </app-geographic-location-form>
        </ng-container>

      </div>
    </div>
  </div>
</div>
