<div class="page-wrapper">
  <div class="content">

    <!-- Page Header -->
    <div class="page-header">
      <div class="row">
        <div class="col-sm-12">
          <ul class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Doctores </a></li>
            <li class="breadcrumb-item"><i class="feather icon-chevron-right"></i></li>
            <li class="breadcrumb-item active">Añadir doctor</li>
          </ul>
        </div>
      </div>
    </div>
    <!-- /Page Header -->
    <div class="row">
      <div class="col-sm-12">
        <app-doctor-form
          (createDoctor)="onDoctorSave($event)"
          (showError)="onDoctorError($event)">
        </app-doctor-form>
      </div>
    </div>
  </div>
</div>

<app-notification
  [show]="showNotification"
  [message]="notificationMessage"
  [type]="notificationType"
  [duration]="3000"
  (close)="onNotificationClose()">
</app-notification>

<app-loading-overlay [isBlock]="isLoading"></app-loading-overlay>
