<div class="page-wrapper">
  <div class="content">

    <div class="page-header">
      <div class="row">
        <div class="col-sm-12">
          <ul class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Misiones</a></li>
            <li class="breadcrumb-item"><i class="feather icon-chevron-right"></i></li>
            <li class="breadcrumb-item active">Crear misión</li>
          </ul>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12">
        <div class="card">
          <div class="card-body">
            <div class="row">
              <div class="col-12">
                <div class="form-heading">
                  <h4>{{ missionId ? 'Editar misión' : 'Crear nueva misión' }}</h4>
                </div>
              </div>
            </div>

            <app-mission-form
              [missionData]="missionData"
              [submitLabel]="submitLabel"
              (missionSubmit)="onMissionSubmit($event)">
            </app-mission-form>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<app-loading-overlay [isBlock]="isLoading"></app-loading-overlay>

<app-notification
  [show]="showNotification"
  [message]="notificationMessage"
  [type]="notificationType"
  [duration]="3000"
  (close)="onNotificationClose()">
</app-notification>
