<div class="main-wrapper" [ngClass]="{
    'expand-menu': expandMenu === 'true' && miniSidebar === 'true',
    'mini-sidebar': miniSidebar === 'true',
    'slide-nav': mobileSidebar === 'true'
}">
    <app-header [ngClass]="{
        'd-none': !sideBarActivePath && !headerActivePath}"></app-header>
    <app-sidebar [ngClass]="{
        'd-none': !sideBarActivePath && !headerActivePath}"></app-sidebar>
    <router-outlet></router-outlet>
  <div
    class="sidebar-overlay"
    [ngClass]="{ opened: mobileSidebar === 'true' }"
    (click)="closeMobileSideBar()"
  ></div>
    <app-modal></app-modal>
</div>
